<ng-template #what>
  <z-command #cmd="zCommand" (zCommandSelected)="navigateToProfile($event)">
    <z-command-input placeholder="Type a command or search..." (valueChange)="searchQuery.set($event)" />
    <z-command-list>
      @if (searchResultsResource.isLoading()) {
        <div class="flex items-center space-x-4">
          <z-skeleton class="size-12 rounded-full" />
          <div class="space-y-2">
            <z-skeleton class="h-4 w-[250px]" />
            <z-skeleton class="h-4 w-[200px]" />
          </div>
        </div>
      } @else if (cmd.isEmpty()) {
        <div class="py-6 text-center text-sm">No results found.</div>
      } @else {
        <z-command-option-group zLabel="Summoners">
          @for (summoner of searchResultsResource.value(); track summoner) {
            <z-command-option [zLabel]="summoner" [zValue]="summoner" />
          }
        </z-command-option-group>
      }
    </z-command-list>
  </z-command>
</ng-template>

<div class="sticky top-0 z-100 bg-background">
  <div class="flex items-center justify-between p-6">
    <div class="flex items-center gap-4">
      <a routerLink="/">Home</a>
      <a routerLink="/profiles">Profiles</a>
      <a routerLink="/ladder">Ladder</a>
    </div>
    <div class="flex items-center">
      <button type="button" z-button zType="outline" (click)="open()">
        <ng-icon name="lucideSearch" />
        Search
      </button>
      <app-settings-button/>
    </div>
  </div>
</div>
