<z-dropdown-menu-content #sortMenu="zDropdownMenuContent" class="w-56">
  <z-dropdown-menu-radio-group [(zValue)]="sort">
    @for (option of sortOptions; track option.value) {
      <z-dropdown-menu-radio-item [zValue]="option.value">
        {{ option.label }}
      </z-dropdown-menu-radio-item>
    }
  </z-dropdown-menu-radio-group>
</z-dropdown-menu-content>

<z-dropdown-menu-content #regionMenu="zDropdownMenuContent" class="w-56">
  <z-dropdown-menu-radio-group [zValue]="filter().region" (zValueChange)="setFilterRegion($event)">
    @for (option of regionOptions; track option.value) {
      <z-dropdown-menu-radio-item [zValue]="option.value">
        <ng-icon [name]="option.icon" class="mr-2 size-4"/>
        {{ option.label }}
      </z-dropdown-menu-radio-item>
    }
  </z-dropdown-menu-radio-group>
</z-dropdown-menu-content>

<div class="flex flex-col gap-4 max-w-6xl mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-medium tracking-tight">Champions</h1>
    <div class="flex items-center gap-4">
      <button type="button" z-button zType="outline" z-dropdown [zDropdownMenu]="regionMenu" >
        <ng-icon [name]="regionIcon()" />
      </button>
      <button type="button" z-button zType="outline" z-dropdown [zDropdownMenu]="sortMenu" class="w-28">
        {{ sortButtonLabel(sort()) }}
      </button>
      <z-toggle-group [zMode]="'single'" [zType]="'outline'" [zItems]="roles" [zValue]="filter().role" (valueChange)="setFilterRole($event)" />
    </div>
  </div>

  <ul class="grid grid-cols-[repeat(auto-fill,minmax(144px,1fr))] gap-x-6 gap-y-12">
    @for (champion of champions(); track champion.championId) {
      <li>
        <app-champion-card [champion]="champion"/>
      </li>
    }
  </ul>
</div>
